In [4]:
import pandas as pd
import matplotlib.pyplot as plt
#Scikit-learn kütüphanesinden doğrusal regresyon modellerini içe aktarır. Scikit-learn, makine öğrenimi algoritmalarını ve araçlarını sağlayan popüler bir kütüphanedir.
from sklearn import linear_model

df = pd.read_csv("multilinearregression.csv", sep=";")

In [7]:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [11]:
df[['alan', 'odasayisi', 'binayasi']]

   alan  odasayisi  binayasi
0   180          5        10
1   225          4        18
2   260          3         2
3   320          6        10
4   335          4         9
5   345          5        14
6   355          3         0
7   400          4        10

In [12]:
df['fiyat']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: fiyat, dtype: int64

In [14]:
reg = linear_model.LinearRegression()
#bağımlı değişken olarak fiyat ve bağımsız değişkenler olarak alan, odasayisi ve binayasi sütunlarını kullanarak modeli eğitiyoruz.
reg.fit(df[['alan', 'odasayisi', 'binayasi']], df['fiyat'])
#Tahmin için alan, odasayisi ve binayasi değerlerini veriyoruz ve bize tahmin edilen fiyat değerini döndürüyor.
#Regresyon, bir bağımlı değişkenin, bir veya daha fazla bağımsız değişken tarafından açıklanmaya çalışıldığı istatistiksel bir analiz yöntemidir.
reg.predict([[275,3,10]])

C:\Users\asli_\anaconda33\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([561204.40855047])

In [15]:
reg.predict([[230,6,0]])

C:\Users\asli_\anaconda33\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([586097.7833456])

In [16]:
reg.predict([[355,3,20]])

C:\Users\asli_\anaconda33\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([616657.45791365])

In [18]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [19]:
reg.intercept_

262365.1503032055

In [21]:
a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a + b1*x1 + b2*x2 + b3*x3

y

530243.2928461881