In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('Credit_Card_Dataset_for_Clustering.csv')

In [11]:
# Veri setinin ilk 5 satırını göster
data.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [13]:
# Temel istatistiksel bilgiler
data.describe()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8949.000000,8950.000000,8637.000000,8950.000000,8950.000000
mean,1564.474828,0.877271,1003.204834,592.437371,411.067645,978.871112,0.490351,0.202458,0.364437,0.135144,3.248827,14.709832,4494.449450,1733.143852,864.206542,0.153715,11.517318
std,2081.531879,0.236904,2136.634782,1659.887917,904.338115,2097.163877,0.401371,0.298336,0.397448,0.200121,6.824647,24.857649,3638.815725,2895.063757,2372.446607,0.292499,1.338331
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,0.000000,0.019163,0.000000,6.000000
25%,128.281915,0.888889,39.635000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,1.000000,1600.000000,383.276166,169.123707,0.000000,12.000000
50%,873.385231,1.000000,361.280000,38.000000,89.000000,0.000000,0.500000,0.083333,0.166667,0.000000,0.000000,7.000000,3000.000000,856.901546,312.343947,0.000000,12.000000
75%,2054.140036,1.000000,1110.130000,577.405000,468.637500,1113.821139,0.916667,0.300000,0.750000,0.222222,4.000000,17.000000,6500.000000,1901.134317,825.485459,0.142857,12.000000
max,19043.138560,1.000000,49039.570000,40761.250000,22500.000000,47137.211760,1.000000,1.000000,1.000000,1.500000,123.000000,358.000000,30000.000000,50721.483360,76406.207520,1.000000,12.000000

In [14]:
# Kredi kartı limiti ve bakiye arasındaki korelasyon
corr_limit_balance = data['CREDIT_LIMIT'].corr(data['BALANCE'])
print("\nKredi Limiti ve Bakiye Korelasyonu:", corr_limit_balance)

Kredi Limiti ve Bakiye Korelasyonu: 0.5312834611329146

In [15]:
# Alışveriş sıklığı ve nakit avans alımı arasındaki korelasyon
corr_freq_cash_advance = data['PURCHASES_FREQUENCY'].corr(data['CASH_ADVANCE'])
print("Alışveriş Sıklığı ve Nakit Avans Korelasyonu:", corr_freq_cash_advance)

Alışveriş Sıklığı ve Nakit Avans Korelasyonu: -0.21550737787778002

In [15]:
# Alışveriş sıklığı ve toplam alışveriş miktarı arasındaki korelasyon
corr_freq_purchases = data['PURCHASES_FREQUENCY'].corr(data['PURCHASES'])
print("Alışveriş Sıklığı ve Toplam Alışveriş Miktarı Korelasyonu:", corr_freq_purchases)

Alışveriş Sıklığı ve Toplam Alışveriş Miktarı Korelasyonu: 0.3930174275339076

In [25]:
# Ödeme oranı ve minimum ödemeler arasındaki korelasyon
corr_payment_min_payments = data['PAYMENTS'].corr(data['MINIMUM_PAYMENTS'])
print("Ödeme Oranı ve Minimum Ödemeler Korelasyonu:", corr_payment_min_payments)

Ödeme Oranı ve Minimum Ödemeler Korelasyonu: 0.12665114274837325

In [18]:
# Kredi limiti ve alışveriş miktarı arasındaki korelasyon
corr_credit_limit_purchase = data['CREDIT_LIMIT'].corr(data['PURCHASES'])
print(" Kredi Limiti ve Alışveriş Miktarı Korelasyonu:", corr_credit_limit_purchase)

 Kredi Limiti ve Alışveriş Miktarı Korelasyonu: 0.35696313640278904

In [18]:
# En yüksek tek seferlik alışveriş miktarı
max_oneoff_purchase = data['ONEOFF_PURCHASES'].max()
print("\nEn Yüksek Tek Seferlik Alışveriş Miktarı:", max_oneoff_purchase)

En Yüksek Tek Seferlik Alışveriş Miktarı: 40761.25

In [19]:
# En çok yapılan alışveriş türü
most_common_purchase_type = data[['ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES']].idxmax(axis=1).value_counts().idxmax()
print("En Çok Yapılan Alışveriş Türü:", most_common_purchase_type)

En Çok Yapılan Alışveriş Türü: ONEOFF_PURCHASES

In [20]:
# En uzun süreli müşteri
oldest_customer = data.loc[data['TENURE'].idxmax(), 'CUST_ID']
print("En Uzun Süreli Müşteri:", oldest_customer)

En Uzun Süreli Müşteri: C10001

In [21]:
# Nakit avans kullanımı ve toplam alışveriş miktarı arasındaki fark
data['Cash_vs_Purchases'] = data['CASH_ADVANCE'] - data['PURCHASES']
mean_diff_cash_purchases = data['Cash_vs_Purchases'].mean()
print("\nNakit Avans Kullanımı ve Toplam Alışveriş Miktarı Farkının Ortalaması:", mean_diff_cash_purchases)

Nakit Avans Kullanımı ve Toplam Alışveriş Miktarı Farkının Ortalaması: -24.33372105407822

In [23]:
# Ödeme yapma oranı ve kredi kartı limiti arasındaki fark
data['Payment_vs_Limit'] = data['PAYMENTS'] - data['CREDIT_LIMIT']
mean_diff_payment_limit = data['Payment_vs_Limit'].mean()
print("Ödemeler ve Kredi Kartı Limiti Farkının Ortalaması:", mean_diff_payment_limit)

Ödemeler ve Kredi Kartı Limiti Farkının Ortalaması: -2761.1129395136886

In [26]:
# Alışveriş yapma sıklığı ve kredi limiti arasındaki fark
data['Freq_vs_Limit'] = data['PURCHASES_FREQUENCY'] - data['CREDIT_LIMIT']
mean_diff_freq_limit = data['Freq_vs_Limit'].mean()
print("Alışveriş Sıklığı ve Kredi Kartı Limiti Farkının Ortalaması:", mean_diff_freq_limit)

Alışveriş Sıklığı ve Kredi Kartı Limiti Farkının Ortalaması: -4493.959045022348

In [30]:
# Alışveriş yapan müşteri sayısı
total_purchasers = data[data['PURCHASES'] > 0]['CUST_ID'].nunique()
print(" Alışveriş Yapan Müşteri Sayısı:", total_purchasers)

 Alışveriş Yapan Müşteri Sayısı: 6906

In [29]:
# Ortalama alışveriş tutarı
avg_purchase_amount = data['PURCHASES'].mean()
print(" Ortalama Alışveriş Tutarı:", avg_purchase_amount)

 Ortalama Alışveriş Tutarı: 1003.2048335195531

In [31]:
# En yüksek kredi limitine sahip müşteri
max_credit_limit_cust = data.loc[data['CREDIT_LIMIT'].idxmax(), 'CUST_ID']
print("En Yüksek Kredi Limitine Sahip Müşteri:", max_credit_limit_cust)

En Yüksek Kredi Limitine Sahip Müşteri: C15041

In [32]:
# En yüksek nakit avans veren müşteri
max_cash_advance_cust = data.loc[data['CASH_ADVANCE'].idxmax(), 'CUST_ID']
print("En Yüksek Nakit Avans Veren Müşteri:", max_cash_advance_cust)

En Yüksek Nakit Avans Veren Müşteri: C12226

In [33]:
# Ortalama ödeme miktarı
avg_payment_amount = data['PAYMENTS'].mean()
print("Ortalama Ödeme Miktarı:", avg_payment_amount)

Ortalama Ödeme Miktarı: 1733.1438520248046

In [34]:
# En sadık müşteriler (En yüksek TENURE'e sahip)
most_tenured_custs = data.nlargest(5, 'TENURE')['CUST_ID'].tolist()
print("En Sadık Müşteriler (En Yüksek TENURE):", most_tenured_custs)

En Sadık Müşteriler (En Yüksek TENURE): ['C10001', 'C10002', 'C10003', 'C10004', 'C10005']

In [35]:
# En yüksek ödeme yapan müşteri
max_payment_cust = data.loc[data['PAYMENTS'].idxmax(), 'CUST_ID']
print("En Yüksek Ödeme Yapan Müşteri:", max_payment_cust)

En Yüksek Ödeme Yapan Müşteri: C14338

In [36]:
#  Alışveriş türleri (Tek seferlik ve taksitli) arasındaki fark
data['Oneoff_vs_Installments'] = data['ONEOFF_PURCHASES'] - data['INSTALLMENTS_PURCHASES']
mean_diff_oneoff_installments = data['Oneoff_vs_Installments'].mean()
print("Alışveriş Türleri (Tek Seferlik ve Taksitli) Arasındaki Farkın Ortalaması:", mean_diff_oneoff_installments)

Alışveriş Türleri (Tek Seferlik ve Taksitli) Arasındaki Farkın Ortalaması: 181.36972625698326

In [38]:
# Kullanıcıların kredi kartı limiti ile yaptığı alışveriş miktarı arasındaki ilişkiyi incele
data['Utilization_Rate'] = data['PURCHASES'] / data['CREDIT_LIMIT']

In [39]:
# Kullanıcıların alışveriş sıklıkları üzerinde bir analiz yapın
purchase_freq_analysis = pd.cut(data['PURCHASES_FREQUENCY'], bins=[0, 0.25, 0.5, 0.75, 1],
                                labels=['Düşük', 'Orta', 'Yüksek', 'Çok Yüksek']).value_counts()
print("Alışveriş Frekansı Analizi:")
print(purchase_freq_analysis)

Alışveriş Frekansı Analizi:
PURCHASES_FREQUENCY
Çok Yüksek    3104
Düşük         1607
Orta          1153
Yüksek        1043
Name: count, dtype: int64

In [40]:
# Kullanıcıların kredi kartı limitleri ile yaptıkları alışveriş miktarı arasındaki ilişkiyi incele
utilization_rate_analysis = pd.cut(data['Utilization_Rate'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1],
                                   labels=['0-20%', '20-40%', '40-60%', '60-80%', '80-100%']).value_counts()
print("\nKullanım Oranı Analizi:")
print(utilization_rate_analysis)

Kullanım Oranı Analizi:
Utilization_Rate
0-20%      3533
20-40%     1486
40-60%      782
60-80%      415
80-100%     249
Name: count, dtype: int64

In [41]:
# Ödeme alışkanlıkları üzerinde bir analiz yapın
data['Payment_Ratio'] = data['MINIMUM_PAYMENTS'] / data['PAYMENTS']
payment_ratio_analysis = pd.cut(data['Payment_Ratio'], bins=[0, 0.25, 0.5, 0.75, 1],
                                labels=['Düşük', 'Orta', 'Yüksek', 'Çok Yüksek']).value_counts()
print("\nÖdeme Oranı Analizi:")
print(payment_ratio_analysis)

Ödeme Oranı Analizi:
Payment_Ratio
Düşük         3095
Orta          1392
Çok Yüksek     946
Yüksek         839
Name: count, dtype: int64

In [60]:

# Alışveriş türlerine göre müşteri segmentasyonu
data['Purchase_Type'] = 'None'
data.loc[(data['ONEOFF_PURCHASES'] > 0) & (data['INSTALLMENTS_PURCHASES'] == 0), 'Purchase_Type'] = 'One-off'
data.loc[(data['ONEOFF_PURCHASES'] == 0) & (data['INSTALLMENTS_PURCHASES'] > 0), 'Purchase_Type'] = 'Installments'
data.loc[(data['ONEOFF_PURCHASES'] > 0) & (data['INSTALLMENTS_PURCHASES'] > 0), 'Purchase_Type'] = 'Both'

# Alışveriş türlerine göre gruplama ve toplam alışveriş miktarını hesaplama
purchase_type_analysis = data.groupby('Purchase_Type')['PURCHASES'].sum()

# En yüksek kredi kartı limitine sahip müşterilerin alışveriş sıklığı ortalaması
max_credit_limit_custs = data.nlargest(100, 'CREDIT_LIMIT')
mean_purchase_freq_max_limit = max_credit_limit_custs['PURCHASES_FREQUENCY'].mean()

# Kredi kartı limiti ile alışveriş sıklığı arasındaki korelasyon
corr_limit_freq = data['CREDIT_LIMIT'].corr(data['PURCHASES_FREQUENCY'])

# En uzun süreli müşterilerin alışveriş türlerine göre dağılımı
oldest_custs = data.nlargest(100, 'TENURE')['Purchase_Type'].value_counts()

# Alışveriş türlerine göre ortalama kredi kartı limiti
mean_credit_limit_purchase_type = data.groupby('Purchase_Type')['CREDIT_LIMIT'].mean()

# Sonuçları yazdırma
print("Alışveriş Türlerine Göre Toplam Alışveriş Miktarı:")
print(purchase_type_analysis)
print("\nEn Yüksek Kredi Kartı Limitine Sahip Müşterilerin Alışveriş Sıklığı Ortalaması:", mean_purchase_freq_max_limit)
print("\nKredi Kartı Limiti ile Alışveriş Sıklığı Korelasyonu:", corr_limit_freq)
print("\nEn Uzun Süreli Müşterilerin Alışveriş Türlerine Göre Dağılımı:")
print(oldest_custs)
print("\nAlışveriş Türlerine Göre Ortalama Kredi Kartı Limiti:")
print(mean_credit_limit_purchase_type)

Alışveriş Türlerine Göre Toplam Alışveriş Miktarı:
Purchase_Type
Both            6290893.31
Installments    1213403.53
None                  0.00
One-off         1474386.42
Name: PURCHASES, dtype: float64

En Yüksek Kredi Kartı Limitine Sahip Müşterilerin Alışveriş Sıklığı Ortalaması: 0.68819696

Kredi Kartı Limiti ile Alışveriş Sıklığı Korelasyonu: 0.11978815438172262

En Uzun Süreli Müşterilerin Alışveriş Türlerine Göre Dağılımı:
Purchase_Type
Both            33
One-off         27
Installments    23
None            17
Name: count, dtype: int64

Alışveriş Türlerine Göre Ortalama Kredi Kartı Limiti:
Purchase_Type
Both            5738.829463
Installments    3371.864329
None            4026.490283
One-off         4515.920572
Name: CREDIT_LIMIT, dtype: float64

In [12]:
import pandas as pd
from sklearn.cluster import KMeans


# Kullanılacak özellikler
features = ['BALANCE', 'PURCHASES', 'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 
            'CASH_ADVANCE', 'CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS']

# Eksik değerleri doldurma
data.fillna(method='ffill', inplace=True)

# Veri normalizasyonu
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data[features])

# Modeli eğitme
kmeans = KMeans(n_clusters=4, random_state=42, n_init=10)  # n_init parametresi eklenmiştir
data['cluster'] = kmeans.fit_predict(scaled_data)

# Her küme için istatistiksel özet
cluster_summary = data.groupby('cluster')[features].describe()

# Her küme için ortalamaları alma
cluster_means = cluster_summary.loc[:, (slice(None), 'mean')]

# Her küme için en iyi ve en kötü özellikleri bulma
best_features = cluster_means.idxmax(axis=1)
worst_features = cluster_means.idxmin(axis=1)

# Sonuçları yazdırma
for cluster, (best, worst) in zip(cluster_means.index, zip(best_features, worst_features)):
    print(f"Cluster {cluster}: En iyi özellik - {best}, En kötü özellik - {worst}")

Cluster 0: En iyi özellik - ('CREDIT_LIMIT', 'mean'), En kötü özellik - ('INSTALLMENTS_PURCHASES', 'mean')
Cluster 1: En iyi özellik - ('CREDIT_LIMIT', 'mean'), En kötü özellik - ('CASH_ADVANCE', 'mean')
Cluster 2: En iyi özellik - ('PAYMENTS', 'mean'), En kötü özellik - ('CASH_ADVANCE', 'mean')
Cluster 3: En iyi özellik - ('CREDIT_LIMIT', 'mean'), En kötü özellik - ('INSTALLMENTS_PURCHASES', 'mean')